adf/pipeline/PL_Incremental_CDC_Single_Table.json
{
	"name": "PL_Incremental_CDC_Single_Table",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Table_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT table_id, source_system_id, schema_name, table_name, primary_key_columns, is_composite_key, last_sync_version FROM control.table_metadata WHERE table_id = '@{pipeline().parameters.table_id}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ControlDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_CDC_Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Table_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"storedProcedureParameters": {
							"SchemaName": {
								"type": "String",
								"value": {
									"value": "@activity('Lookup_Table_Metadata').output.firstRow.schema_name",
									"type": "Expression"
								}
							},
							"TableName": {
								"type": "String",
								"value": {
									"value": "@activity('Lookup_Table_Metadata').output.firstRow.table_name",
									"type": "Expression"
								}
							},
							"PrimaryKeyColumns": {
								"type": "String",
								"value": {
									"value": "@activity('Lookup_Table_Metadata').output.firstRow.primary_key_columns",
									"type": "Expression"
								}
							},
							"LastSyncVersion": {
								"type": "Int64",
								"value": {
									"value": "@activity('Lookup_Table_Metadata').output.firstRow.last_sync_version",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_ControlDB",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Parquet_Bronze_Incremental",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": {
								"value": "@activity('Lookup_Table_Metadata').output.firstRow.schema_name",
								"type": "Expression"
							},
							"table_name": {
								"value": "@activity('Lookup_Table_Metadata').output.firstRow.table_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "If_Rows_Found",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy_CDC_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Copy_CDC_Data').output.rowsCopied, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "NB_Incremental_Process",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/Final Databricks/databricks/notebooks/bronze/Incremental_CDC_Dynamic",
								"baseParameters": {
									"table_id": {
										"value": "@pipeline().parameters.table_id",
										"type": "Expression"
									},
									"source_system_id": {
										"value": "@activity('Lookup_Table_Metadata').output.firstRow.source_system_id",
										"type": "Expression"
									},
									"schema_name": {
										"value": "@activity('Lookup_Table_Metadata').output.firstRow.schema_name",
										"type": "Expression"
									},
									"table_name": {
										"value": "@activity('Lookup_Table_Metadata').output.firstRow.table_name",
										"type": "Expression"
									},
									"primary_key_columns": {
										"value": "@activity('Lookup_Table_Metadata').output.firstRow.primary_key_columns",
										"type": "Expression"
									},
									"incremental_path": {
										"value": "@concat('bronze/', activity('Lookup_Table_Metadata').output.firstRow.source_system_id, '/', activity('Lookup_Table_Metadata').output.firstRow.schema_name, '/', activity('Lookup_Table_Metadata').output.firstRow.table_name, '/incremental/', pipeline().RunId)",
										"type": "Expression"
									},
									"bronze_base_path": {
										"value": "/mnt/datalake",
										"type": "Expression"
									},
									"pipeline_run_id": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"table_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}